.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajuste a altura conforme necessário */
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Defina a largura desejada */
  }
  
  form input {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    font-size: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }
  
  form input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
  }
  
  button {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #3498db;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  form {
    width: 100%;
  }
  h2 {
    font-family: 'Jost', sans-serif;
    margin-bottom: 20px;
  }
  